@model ProductViewModel

@{
    ViewData["Title"] = "Edit";
    SelectList categories = new SelectList(Model.CategoriesList, "Id", "Name");

}

<h1>Edit</h1>

<h4>Product @Model.Product.Name</h4>
<hr />
<div>
    <div class="col-md-3 col-lg-6">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            @* <input type="hidden" asp-for="Product.Id" /> *@
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <textarea asp-for="Product.Description" class="form-control" placeholder="Max is 200"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" value="@Model.Product.Price.ToString("f")" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Category</label>
                <select asp-for="Product.CategoryId" asp-items="categories" class="form-control">
                    <option value="0">-- Select Category --</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input type="file" asp-for="Images" multiple class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            
            <div class="row p-2">
                @foreach (var item in Model.Product.ImageUrls)
                {
                    <div >
                        <div class="card">
                                <img src="/Images/@item.ImageUrl" class="card-img-top rounded" width="150" height="150" />
                            <div class="card-body">
                                <a class="card-title" asp-action="DeleteImageFromProduct" asp-route-url="@item.ImageUrl"> Remove</a>
                            </div>
                        </div>
                    </div>
                }
                
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div id="ImagePreview" class="col-md-3 col-lg-6 d-flex justify-content-center pt-4 overflow-hidden">
        <img class="coverImage d-none" style="max-height:250px ; border-radius:150px" alt="Cover" />
    </div>
 </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#Images').on('change', function () {
                // Clear the previous image previews
                $('#ImagePreview').html('');

                // Calculate the width percentage for each image based on the number of images
                var totalFiles = this.files.length;
                var widthPercentage = 100 / totalFiles;

                // Loop through each selected file and create a preview
                for (var i = 0; i < totalFiles; i++) {
                    var file = this.files[i];

                    // Create a flexible preview container
                    var imagePreview = `
                                        <div class="d-flex justify-content-center align-items-center" style="flex: 1; max-width: ${widthPercentage}%;">
                                            <img class="coverImage" style="max-height:250px; border-radius:8px; width: 100%;" alt="Cover" />
                                        </div>`;

                    // Append the preview template to the ImagePreview container
                    $('#ImagePreview').append(imagePreview);

                    // Set the src of the image to the object URL of the selected file
                    $('#ImagePreview .coverImage:last').attr('src', window.URL.createObjectURL(file));
                }
            });
        });
    </script>
}
