@using Microsoft.AspNetCore.Http;
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/bootstrap-icons/font/bootstrap-icons.min.css" />
   @*  <link href="~/css/bootstrap.min.css" rel="stylesheet" /> *@
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css" />

</head>
<body>
    <header>
        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-danger border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Product" asp-action="All">ECommerce</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white"  asp-controller="Product" asp-action="All">Home</a>
                        </li>
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Category" asp-action="Index">Categories</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Product" asp-action="Index">Products</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Role" asp-action="addRole">Role</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white"  asp-controller="Cart" asp-action="Index">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Orders" asp-action="History">Order-History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Message" asp-action="index" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Contact-Us</a>
                        </li>

                       
                       
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="modal" tabindex="-1" id="form-modal">
        <div class="modal-dialog modal-dialog- modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body .col-md-3 .ms-auto">
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ECommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/aspnet-signalr/signalr.min.js"></script>
    <script src="~/js/signalr.js" asp-append-version="true" ></script>
    <script src="~/js/popup.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>








@*  @if (HttpContextAccessor.HttpContext.Session.GetInt32(CartCount.sessionCount) != null)
                            {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Cart" asp-action="Index">
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.GetInt32(CartCount.sessionCount);
                                    }
                                    @count
                                    </a>
                             </li>
                            } *@